<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Orders</title>
  <!--  <link href="styles.css" rel="stylesheet" type="text/css">-->
  <link rel="stylesheet" th:href="@{/CSS/styles.css}" type="text/css">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container">
    <div class="row">

        <h2>Список заказов</h2>
        <form id="orders" name="order">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Car</th>
                    <th>Post</th>
                    <th>Client</th>
                    <th>Acceptor</th>
                    <th>Executor</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td th:text="${order.getExecutor()} "></td>
      <td th:text="${order.getPost()}"></td>
      <td th:text="${order.getClient()}"></td>
      <td th:text="${order.getAcceptor()}"></td>
      <td th:text="${order.getExecutor()}"></td>
      <td th:text="${order.startDate}"></td>
      <td th:text="${order.endDate}"></td>
      <td><a th:href="@{'/order/edit/' + ${order.id}}">Edit</a></td>
      <td><a th:href="@{'/order/delete/' + ${order.id}}">Delete</a></td>
      <td>
          <!--      <label for="finished" > finished</label>-->
          <span class="finished" th:text="${order.finished}">Finished</span>
          <span class="warning" th:text="${order.warning}">Warning</span>
          <span class="error" th:text="${order.error}">Error</span>
      </td>
    </tr>
    </tbody>
            </table>
        </form>
        <a href="create">Создать новый заказ</a>
    </div>
    >
</div>
>
</body>
</html>
