<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h1>Список клиентов</h1>
<table class="my-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Cars</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.email}"></td>
    </tr>
    </tbody>
</table>
<td>
    <a th:href="@{/client/create/}">Добавить нового клиента</a>
</td>
</body>
</html>
