<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Create New Client</title>
	<link rel="stylesheet" th:href="@{/CSS/styles.css}">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h1>Create New Client</h1>
<form action="@{save}" method="POST">
	<table>
		<td>
			<label for="name">Name:</label>
		</td>
		<td>
			<input id="name" maxlength="30" minlength="4" name="name" required type="text"><br>
		</td>
		<td>
			<label for="email">Email:</label>
		</td>
		<td>
			<input id="email" name="email" required type="email"><br>
		</td>
		<td>
			<label for="password">Password:</label>
		</td>
		<td>
			<input id="password" name="password" required type="password"><br>
		</td>
		<td>
			<label for="cars">Cars:</label>
		</td>
		<td>
			<select class="form-control" id="cars" multiple
					name="cars"
					size="3"
					th:object="${cars}"/>
			<option value="">select Car</option>
			<option th:each="car : ${cars}"
					th:text="${car.brand}"
					th:value="${car.id}">
			</option>
			</select>
		</td>
		<br>
	</table>
	<input type="submit" value="Create">
</form>
</body>
</html>
