<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}" type="text/css">

</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h2>Cars:</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Brand</th>
        <th>Birthday</th>
        <th>VIN</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.name}">Name</td>
        <td th:text="${car.number}">Number</td>
        <td th:text="${car.brand}">Brand</td>
        <td th:text="${car.birthday}">Birthday</td>
        <td th:text="${car.carVINId}">VIN</td>
        <td><a th:href="@{'/car/edit/' + ${car.id}}">Edit</a></td>
        <td><a onclick="return confirm('Are you sure you want to delete this user?')"
               th:href="@{'/car/delete/' + ${car.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/car/create}">Add car</a>
</body>
</html>
