<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Создания нового автомобиля</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h1>Создания нового автомобиля</h1>
<form method="POST" th:action="@{save}" th:object="${carDTO}">
    <table>
        <tbody>
        <thead>
        <tr>
            <td><label for="name">Название автомобиля:</label></td>
            <td><input id="name" name="name" type="text"/></td>
        </tr>
        <tr>
            <td><label for="number">Номер автомобиля:</label></td>
            <td><input id="number" name="number" type="text"/></td>
        </tr>
        <tr>
            <td><label for="brand">Марка автомобиля:</label></td>
            <td><input id="brand" name="brand" type="text"/></td>
        </tr>
        <tr>
            <td><label for="birthday">Год создания автомобиля:</label></td>
            <td><input id="birthday" name="birthday" type="datetime-local"/></td>
        </tr>
        <tr>
            <td><label for="carVINId">VIN автомобиля:</label></td>
            <td><input id="carVINId" name="carVINId" type="text"/></td>
        </tr>
        <select id="client" name="client" th:object="${clients}">
            <option value="">--Выберете значение--</option>
            <option th:each="client : ${clients}"
                    th:text="${client.name}"
                    th:value="${client.id}"></option>
        </select>
        </thead>
        </tbody>
    </table>
    <input type="submit" value="Create">
</form>
</body>
</html>
